<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topcit CBT</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="title"><h1>Topcit CBT</h1></div>

<div class="top">
    <div class="obo">
        <div class="box"><h3>한문제씩 풀기</h3></div>
        <a class="button" th:href="@{/obo}"><h3>시작</h3></a>
    </div>
    <div class="test">
        <div class="box"><h3>시험 방식</h3></div>
        <a class="button" th:href="@{/test}"><h3>시작</h3></a>
    </div>
    <div class="wrong">
        <div class="box"><h3>오답노트</h3></div>
        <a class="button" th:href="@{/wrong}"><h3>시작</h3></a>
    </div>
</div>

<div class="bottom">
    <div class="site">
        <a href="#" class="link">시험 안내 바로가기</a>
    </div>
    <div class="site">
        <a href="#" class="link">접수 하기 바로가기</a>
    </div>
    <div class="site">
        <a href="#" class="link">홈페이지 바로가기</a>
    </div>
</div>

</body>
</html>