.title {
    width: 100%;
    text-align: center;
    height: 60px;
    display : flex;
    justify-content : center;
    align-items: center;
}

.home {
    font-weight: bold;
    color: black;
    font-size: 32px;
    text-decoration: none;

}

.st{
    background-color: #D6E4FF;
    height: 80px;
    display : flex;
    justify-content : center;
    align-items: center;
}

.check {
    margin-left: 20px;
}

.question {
    border: 1px solid black;
    margin: 0 10px 0 10px;
}

.top {
    display: flex;
    justify-content: space-between;
}
.sentence {
    text-align: left;
    padding-left: 10px;
}

.answer {
    color: red;
}

.ca {
    text-align: right;
    padding-right: 10px;
}

.bottom {
    display: inline-block;
    align-items: center;
    text-align: left;
}

.q {
    margin-bottom: 10px;
    padding-left: 20px;
}

.idk {
    height: 50px;
    margin: 0 10px;
}

.box {
    width: 100%;
    margin: 0 10px;
}

.explain {
    padding-left: 10px;
    margin-bottom: 10px;
}

.ex {
    margin-top: 10px;
}