<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>한문제씩 풀기</title>
    <link rel="stylesheet" th:href="@{/css/oboQ.css}">
</head>
<body>

<div class="title"><a class="home" th:href="@{/}">Topcit CBT</a></div>

<div class="sub-title">
    <div class="st"><h3>한문제씩 풀기</h3></div>
</div>

<div class="check"><h3>기술 영역</h3></div>

<div class="box">

    <div class="question">
        <div class="top">
            <span th:text="${user?.id}"></span>
            <h4 class="sentence"><span th:text="${user.title}"></span></h4>
            <h4 class="ca"><span th:text="${user.avg}"></span></h4>
        </div>
        <div class="bottom">
            <div class="q"><a href="#">1.<span th:text="${user.answer_1w}"></span></a></div>
            <div class="q"><a href="#">2.<span th:text="${user.answer_2w}"></span></a></div>
            <div class="q"><a href="#">3.<span th:text="${user.answer_3w}"></span></a></div>
            <div class="q"><a href="#">4.<span th:text="${user.answer_4w}"></span></a></div>
        </div>
    </div>

    <div>
        <button class="idk">잘 모르겠어요.</button>
    </div>
</div>

</body>
</html>